.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    background: var(--main-bg-color);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

.modal-overlay.active .modal-content {
    transform: scale(1);
}

.close-button {
	position: absolute;
    top: 1.5rem;
    right: 3rem;
    padding: 5px 15px;
	background: none;
	border: none;
	font-size: 1.5rem;
    font-weight: 100;
	cursor: pointer;
    transition: transform 0.5s ease;

    &:hover {
        color: rgb(241, 133, 133);
        transform: scale(1.5);
    }
}

.setting-submit-button {
    margin: 20px 0;
}

.setting-del-button:hover {
    border: 1px solid;
    color: rgb(250, 134, 134);
    box-shadow: inset 0 0 20px #ff7474,
        0 0 20px #ffffff17;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: none;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
}

