.trades-filters {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 10px;
}

.trades-filters input {
	padding: 10px;
	font-size: 1rem;
    font-family: 'Mont', sans-serif;
    font-weight: bold;
}

.filters-apply-button {
    font-size: 1rem;
}

.error {
	color: var(--red);
	margin: 10px;
	font-size: 14px;
    text-align: center;
}

.trades-header {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 3fr 3fr 2fr 2fr;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	background-color: #ffffff10;
}

.trade-row {
	border: 1px solid #ffffff1a;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0;
}

.trade-row:hover {
	background: #e9ecef27;
}

.trade-summary {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 3fr 3fr 2fr 2fr;
	text-align: center;
	gap: 10px;
	font-weight: bold;
	cursor: pointer;
}

.trade-details {
	height: 100px;
	overflow: hidden;
	transition: height 0.4s ease-out;
}

.trade-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 5fr; 
	gap: 10px;
	align-items: start;
    padding: 10px;
    margin: 10px 0;
}

.trade-info p,
.trade-values p {
	margin: 9px 0;
}

.trade-chart p {
	margin: 0;
}

.trade-chart {
	height: 200px;
	background: #040a29;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	border-radius: 10px;
}

.negative {
	color: rgb(212, 66, 66);
}

.positive {
	color: rgb(66, 221, 66);
}

.neutral {
	color: white;
}

.empty {
    position: absolute;
    top: 50%;
    left: 50%;
	font-size: 2rem;
    transform: translate(-50%, -50%);
}
