@import url('https://fonts.cdnfonts.com/css/mont');

:root {
    font-family: 'Mont', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    --main-text-color: #fff;
    --main-bg-color: #041535;
    --first-color: #1c667c;
    --second-color: #9c9c9c;
    --logo-color: #00c3ff;
    --text-weight: 100;

    --gradient-color-1: #00c3ff;
    --gradient-color-2: #3b80ff2c;

    --bg-text: #5e5e5e;
}

[theme-mode="light"] {
    --main-text-color: #ffffff;
    --main-bg-color: #18657c;
    --first-color: #00c3ff;
    --second-color: #2c2c2c;
    --logo-color: #ffffff;
    --text-weight: 1000;

    --gradient-color-1: #ffffff;
    --gradient-color-2: transparent;

    --bg-text: #a7a7a7;
}

* {
    transition: all 0.2s ease;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

a {
    font-weight: 500;
    color: var(--first-color);
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    margin: 5%;
    font-size: 3.2em;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h1,
h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--first-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 3em;
	font-size: 1.2rem;
	font-weight: 500;
	font-family: inherit;
	/* background-color: #1d1d1d; */
    background-color: transparent;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

.glow-button {
	box-shadow: transparent;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.4);
    outline-offset: 0px;
    text-shadow: none;
    font-weight: bold;
    transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.glow-button:hover {
    border: 1px solid;
    /* box-shadow: inset 0 0 20px #646cffc9,
        0 0 20px #646cff2c; */
    box-shadow: inset 0 0 20px var(--gradient-color-1),
        0 0 20px var(--gradient-color-2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 0px 2px 2px #427388;
}

form {
    position: relative;
    text-align: center;
}

.input-wrapper {
    position: relative;
    margin: 10px auto;
    width: fit-content;
}

input {
    display: block;
    border: 0;
    padding: 0.5rem 0.5rem;
    background: #1d1d1d;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #646cff;
    transition: 0.6s;
}

input:focus ~ .focus-border {
    width: 100%;
    transition: 0.6s;
}

div {
    width: 100%;
}
